<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <title>Document</title>
    <script>
        var module = angular.module("mymodule", []);
        var controller = module.controller("mycontroller", function ($scope) {
            $scope.msg = "Hello Programmers, AngularJS is Magic.";
            $scope.fn = "First Name";
            $scope.ln = "Last Name";
            $scope.dojoin = function () {
                $scope.full = $scope.fn + " " + $scope.ln;
            }
            $scope.ary = ["Sunday", "Monday", "Tuesday"];
            $scope.jsonary = [
                { "email": "bcebti@gmail.com", "pwd": "Admin123", "mobile": "1223334444" },
                { "email": "bbti@gmail.com", "pwd": "Admin12", "mobile": "122333" },
                { "email": "bi@gmail.com", "pwd": "Admin3", "mobile": "1224444" },
                { "email": "ebti@gmail.com", "pwd": "A23", "mobile": "3334444" },
            ]
        })
    </script>
</head>

<body ng-app="mymodule" ng-controller="mycontroller">
    Text = {{msg}}
    <hr>
    <p>
        First Name = <input type="text" ng-model="fn">
        <br>
        ({{fn}})
    </p>
    <p>
        Last Name = <input type="text" ng-model="ln">
        <br>
        ({{ln}})
    </p>
    <p>
        <input type="button" ng-click="dojoin();" value="Join">
    </p>
    <p>
        Full Name={{full}}
    </p>
    <hr>
    Select Day:
    <select>
        <option ng-repeat="str in ary" value="{{str}}">{{str}}</option>
    </select>
    <hr>
    <center>All Records</center>
    <center>
        <table width="500" border="1">
            <tr>
                <th>Sr. No.</th>
                <th>EMail</th>
                <th>Password</th>
                <th>Contact</th>
            </tr>
            <tr ng-repeat="obj in jsonary">
                <th>{{$index+1}}</th>
                <th>{{obj.email}}</th>
                <th>{{obj.pwd}}</th>
                <th>{{obj.mobile}}</th>
            </tr>
        </table>
    </center>
</body>

</html>